td {
  padding: 5px;
}
.giflist {
  display: grid;
  grid-template-columns: auto;
}

@media only screen and (min-width: 600px) {
  .giflist {
    display: block;
  }
  .giflist-element {
    margin: 5px;
    border: none;
    height: 100px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
